body {
    font-size: 0.8rem;
}

.restocks-container {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Groupe de boutons à droite de l'en-tête */
.button-group {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 10px;
    max-width: 60%;
    font-size: 0.8rem;
}



/* Message d'absence de restocks */
.no-restocks {
    margin-top: 1rem;
    font-style: italic;
    color: #666;
    font-size: 1rem;
    text-align: center;
}

/* Message d'erreur */
.error-message {
    margin-top: 1rem;
    color: #DA3232;
    font-weight: bold;
    text-align: center;
}