#tresorerie-container {
    padding: 20px;
}

.tresorerie-wrapper .title {
    color: #105A5B;
    font-weight: bold;
}

.filter-section {
    padding: 16px;
    margin-bottom: 16px;
    border-left: 4px solid #E79B3B;
}

.filter-select {
    border-radius: 4px;
}

.button-group {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}

.apply-button {
    background-color: #105A5B;
    color: white;
}

.reset-button {
    border-color: #DA3232;
    color: #DA3232;
}

.summary-section {
    background-color: #EFDAC0;
    padding: 16px;
    margin-bottom: 16px;
}

.table-container {
    border: 1px solid #000000;
}

/* .vente-row:hover {
    background-color: #ede2d6;
} */

.reset-section {
    margin-top: 16px;
    text-align: center;
    margin-bottom: 50px;
}