.MuiPaper-root {
    z-index: 9999;
}

.MuiBottomNavigation-root {
    position: relative;
    z-index: 9999;
}

#tresorerie-container,
#home-container,
#stock-container,
#statistiques-container,
#ventes-container,
#accueil-container {
    padding-bottom: 56px;
}